

body {
    margin: 0;
    padding: 0;
    background: gray;         
    font-family: Arial, Helvetica, sans-serif;
}

#okvir {
    width: 800px;
    margin: 0 auto;              
    background: lightgray;       
}


#zaglavlje {
    background: #e3e3e3;          
    padding: 20px 30px;
}

#zaglavlje h1 {
    margin: 0;
    font-size: 48px;
    color:  green;              
    font-family: "Comic Sans MS", "Trebuchet MS", cursive;
}


#meni {
    background: #f0a8a8;         
    padding: 5px 30px;
}

#meni ul {
    margin: 0;
    padding: 0;
}

#meni li {
    display: inline;
    margin-right: 10px;
}

#meni a {

    color: #660099;              
}



#glavni {
    float: left;
    width: 520px;
    background: #b5e3a5;          
    padding: 15px 20px;
    box-sizing: border-box;
}

#glavni h2 {
    margin-top: 0;
}


#desno {
    float: right;
    width: 280px;
    padding: 15px 20px;
    box-sizing: border-box;
    background: pink;
}

#desno h2 {
    margin-top: 0;
}

#desno ul {
    padding-left: 20px;
}


#podnozje {
    clear: both;
    background: #e4dd88;          
    text-align: left;
    padding: 1px 10px;
    font-size: 14px;
}
