body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid black;
    width: 50px;
    height: 40px;
    text-align: center;
}

th {
    background-color: #CCCCCC;
    font-weight: bold;
}

.parni {
    background-color: #FFFFCC;
}

.neparni {
    background-color: white;
}
